body {
  height: 100%;
  background-image: url(/assets/bg2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  font-family: "Playfair Display";
  max-width: 100%;
}

.nav-item {
  font-size: 20px;
  font-weight: lighter;
}

#intro h1 {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  font-family: "WindSong", cursive;
  font-size: 100px !important;
}

#role {
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

#main-img {
  display: flex;
  justify-content: center;
}

#profile-img {
  height: 300px;
  width: 300px;
  transition: transform 0.3s ease;
}

#profile-img:hover {
  transform: scale(1.1); /* Scale the image up slightly on hover */
}

#about-me h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Playfair Display";
  font-size: 40px;
}

#about-body {
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  font-size: 24px;
  max-width: 1000px;
  text-align: justify;
}

#about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#projects h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Playfair Display";
  font-size: 40px;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 40px;
}

#contact h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: "Playfair Display";
  font-size: 40px;
}

#email-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
}

.email-address {
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

.email-icon {
  padding-right: 10px;
}

#phone-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
}

.phone-number {
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

.phone-icon {
  padding-right: 10px;
}

#linkedin-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
}

.linkedin-url {
  font-family: "EB Garamond", serif;
  font-size: 25px;
  color: black;
}

.linkedin-icon {
  padding-right: 10px;
}

#github-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
}

.github-url {
  font-family: "EB Garamond", serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.github-icon {
  padding-right: 10px;
}

.card {
  margin: 20px;
  border-width: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.project-button {
  transition: background-color 0.3s ease; /* Transition background color */
}

.project-button:hover {
  background-color: #f0f0f0; /* Change to the desired hover background color */
}

#exampleInputEmail1 {
  width: 500px;
}

#exampleInputName1 {
  width: 500px;
  margin-bottom: 10px;
}

#exampleInputMessage1 {
  height: 150px;
  width: 500px;
  margin-bottom: 10px;
}
#emailHelp {
  margin-bottom: 10px;
}

.form-check-label {
  margin-bottom: 10px;
}

#submit-msg {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  font-family: "WindSong", cursive;
  font-size: 500px;
}

#goback-btn {
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  padding-top: 50px;
  padding-bottom: 200px;
}

#submit-btn {
  margin-bottom: 200px;
  font-family: "EB Garamond", serif;
  background-color: darkslategray;
  border-color: darkslategray;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 300px;
}

.project-button {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  border-radius: 15%;
  background-color: rgb(242, 230, 215);
}

.card-title h5 {
  font-family: "Playfair Display";
  font-size: 25px;
}

.card-text {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 600px) {
  #about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: fit-content;
  }

  #intro h1 {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    font-family: "WindSong", cursive;
    font-size: xx-large !important;
  }

  #about-me h1 {
    display: flex;
    justify-content: flex-start;
    font-family: "WindSong", cursive;
    font-size: 60px !important;
  }

  #card-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 50px;
  }

  #projects h1 {
    display: flex;
    justify-content: center;
    font-family: "WindSong", cursive;
    font-size: 60px !important;
  }

  #contact h1 {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    font-family: "WindSong", cursive;
    font-size: 60px !important;
  }

  #footer {
    height: 200px;
  }

  #socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
